.media-thumbnails>li {
  position: relative;
}

.media-thumbnails>li>a {
  display: block;
  position: relative;
}

.media-thumbnails>li .loader {
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -16px;
  margin-top: -2px;
}

.upload_error {
  border: 1px solid red;
  border-radius: 4px;
  background-color: #FEE;
  padding: 5px 10px;
  margin-top: 5px;
}

.button-side-loader {
  display: inline-block;
  padding: 4px 0;
  width: 40px;
}

.field-side-loader {
  display: inline-block;
  padding: 14px 5px 0 5px;
  width: 40px;
}