.media-thumbnails>li {
  position: relative;
}

.media-thumbnails>li>.thumbnail {
  display: block;
  position: relative;
}

.media-thumbnails>li .loader {
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -16px;
  margin-top: -2px;
}

.upload-progress {
  border: 1px solid #f88;
  width: 130px;
  max-width: 100%;
  display: inline-block;
  height: auto;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  padding: 1px 2px;
  margin: -5px 0 0 -68px;
  -webkit-transition:all .5s ease-out;transition:all .5s ease-out;
}

@media (max-width:768px) {
  .upload-progress {
    width: 80px;
    margin-left: -40px;
  }
}

#company-logo>.upload-progress {
  position: relative;
}

.upload-counter {
  display: block;
  top: 50%;
  margin-top: -22px;
  font-size: 12px;
  color: #aaa;
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

.upload-progress>.fill {
  display: block;
  height: 8px;
  width: 0;
  background: #f88;
  border-radius: 10px;
  -webkit-transition:all .5s ease-out;transition:all .5s ease-out;
}

.upload-progress.p25 {
  border-color: #dab8ff;
}
.upload-progress.p25>.fill {
  background: #dab8ff;
}

.upload-progress.p50 {
  border-color: #ffdf8f;
}
.upload-progress.p50>.fill {
  background: #ffdf8f;
}

.upload-progress.p75 {
  border-color: #abe7ff;
}
.upload-progress.p75>.fill {
  background: #abe7ff;
}

.upload-progress.p100 {
  border-color: #a9e266;
}
.upload-progress.p100>.fill {
  background: #a9e266;
}

.upload_error {
  border: 1px solid red;
  border-radius: 4px;
  background-color: #FEE;
  padding: 5px 10px;
  margin-top: 5px;
}

/* Logo image uploader box style */

.logo-loader,
.photo-loader {
  display: inline-block;
  text-align: center;
  width: 258px;
  height: 198px;
  position: relative;
  border: 1px solid #DDD;
  border-radius: 5px;
  visibility: hidden;
}

.photo-loader {
  width: 198px;
  height: 198px;
}

.logo-loader .loader,
.photo-loader .loader {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -15px;
}

/* Accolade image uploader box style */

.accolade-image-loader {
  display: inline-block;
  text-align: left;
  width: 48px;
  height: 48px;
  position: relative;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-right: 12px;
  vertical-align: middle;
  visibility: hidden;
}

.accolade-image-loader .upload-progress {
  left: 2px;
  margin-left: 0;
  width: 38px;
  margin-top: 0;
}

.accolade-image-loader .upload-counter {
  margin-top: -17px;
}

.accolade-image-loader .loader {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -15px;
}

.button-side-loader.delete-accolade-loader {
  float: right;
  width: 33px;
  padding-top: 10px;
}